langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
chromadb
beautifulsoup4
requests
lxml
pandas
numpy
aiohttp
python-dotenv
tiktoken
transformers
sentence-transformers
plotly
scipy
streamlit